@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    bool haveAccount = Context.Session.HasAccount();
}
<div class="float-right">
    @if (haveAccount)
    {
        StaffModel staffAcc = Context.Session.DecryptStaff();

        <div class="account-tab">
            <h6 class="title">@Html.ActionLink(staffAcc.Account.Email,"MyAccount","Staff")</h6>
            <p class="m-0">@staffAcc.Grade</p>
        </div>
    }
    else
    {
        @Html.ActionLink("Sign in", "Create", "Staff", new { }, new {@class = "btn btn-outline-info mr-2" });
        @Html.ActionLink("Log in", "Login", "Staff", new { }, new { @class = "btn btn-info" });
    }
</div>